*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    margin: 5vw;
    font-size: 18px;
}
.form-user{
    display: grid;
    grid-template-rows: auto;
    row-gap: 2vh;
    height: 350px;
    width: 40%;
    padding: 10px;
    margin: 15px;
}
.user{
    margin: 15px;
}
table{
    border-collapse: collapse;
    
}
.head-user{
    font-weight: bold;
}
tr,td {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
}
input{
    padding: 10px;
    border: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input:focus{
    outline: 3px solid rgba(83, 130, 231, 0.753);
}
input[type="button"]{
 max-width: 100px;
}
.add-user, .edit-user{
    color: rgb(51, 160, 51);
    border-color: rgb(51, 160, 51);
}
.add-user:hover, .edit-user:hover{
    color: rgb(255, 255, 255);
    border-color: rgb(236, 240, 236);
    background-color: rgb(42, 133, 42);
}
.add-user:focus, .edit-user:focus{
    outline: 3px solid rgba(51, 160, 51, 0.753);
}
.hide{
    display: none;
}
.edit{
    background-color: rgb(248, 184, 9);
}
.edit:focus{
    outline: 3px solid rgba(248, 184, 9, 0.753);
}
.delete{
    color: white;
    background-color: maroon;
}